{% extends 'partial/base.html' %}


{% block title %}Calendar{% endblock %}

{% block content %}

	<h3>Events</h3>
	<iframe id="google-calendar" name="iframe" src="https://calendar.google.com/calendar/embed?src=YmVib2xkc3RyZWV0bWluaXN0cmllc0BnbWFpbC5jb20&amp;ctz=America/Los_Angeles&amp;pli=1" scrolling="auto" frameborder="1" class="wrapper">
		This option will not work correctly. Unfortunately, your browser does not support inline frames.	</iframe>

{% endblock %}
