{% extends 'partial/base.html' %}

{% block content %}

	<h3 class="centered-title" style="padding-top:50px">Be Bold Street Ministries</h3>

	<div class="row" style="margin:20px">
		<div class="col-sm-12">
			<span>Our mission is to share the gospel of Jesus Christ, the Son of God, with a lost and dying
			world.  Knowing He doesn't wish to see any perish, but desires ALL people to come to know Him.
			This motivates our hearts to be intentional, just as Jesus was, in All our interactions with
			All people.</span>
		</div>
	</div>
	<div class="row" style="background: url('/media/wide-line.jpg'); background-size:cover" >
		<a href="/outreach-summary/salem-outreach">
			<span class="hero">
				<h3>Outreach in Salem</h3>
				<p>See what BBSM is doing in Salem</p>
			</span>
		</a>
	</div>
	<div class="row">
		<h2 style="margin:30px">In 2018, BBSM was led to:</h2>
	</div>
	<div class="row">
		<div class="col-sm-4 icon-bullet"><p><img src="/media/layout/plate-knife-and-fork.png"></p><p>Serve 20,000 meals<p></div>
		<div class="col-sm-4 icon-bullet"><p><img src="/media/layout/coat-icon.png"></p><p>Hand out 7,500 pounds of clothing</p></div>
		<div class="col-sm-4 icon-bullet"><p><img src="/media/layout/christian-cross.png"></p><p>Lead 1,500 people to salvation</p></div>
	</div>
	<div class="row" style="background: url('/media/philippines/raised.jpg'); background-size:cover" >
		<a href="/outreach/philippines">
			<span class="hero">
			<h3>BBSM Travels the Globe</h3>
			<p>We are spreading the good news in the Philippines</p>
			</span>
		</a>
	</div>
	<div class="row" class="scripture-em">
		<p>“Let each of you look not only to his own interests, but also to the interests of others.” Philippians 2:14</p>
		<p>“But seek first the kingdom of God and his righteousness, and all these things will be added to you.” Matthew 6:33</p>
 		<p>“And he said to them, ‘Go into all the world and proclaim the gospel to the whole creation.” Mark 16:15</p>
		<p>“Open your mouth for the mute, for the rights of all who are destitute. Open your mouth, judge righteously, defend the rights of the poor and needy.” Proverbs 31: 8-9</p>
		<p>“Above all, love each other deeply, because love covers over a multitude of sins.” 1 Peter 4:8</p>
		<p>“Jesus said to them, ‘I am the bread of life; whoever comes to me shall not hunger, and whoever believes in me shall never thirst.” John 6:35</p>
	</div>
	<div class="row">
		<span class="support">
			<h3>Support</h3>
			<p>If you would like to send us correspondance.</p>
			<address>
				<span>
				Address to BBSM<br />
				PO Box 13864<br />
				Salem OR, 97309<br />
				</span>
			</address>
		</span>
	</div>
	<div class="row">
		<div class="col-sm-6 support">
			<p><a href="/giving">Click here to enroll in monthly giving</a></p>
		</div>
		<div class="col-sm-6 support">
			<p><a href="https://crm.beboldstreetministries.org/give">Make a one time contribution</a></p>
		</div>
	</div>
{% endblock %}
