{% extends 'partial/base.html' %}

{% block content %}

	<h3 class="centered-title" style="padding-top:50px">Be Bold Street Ministries</h3>

	<div class="row" style="margin:20px">
		<div class="col-sm-12">
			<span>Our mission is to share the gospel of Jesus Christ, the Son of God, with a lost and dying
			world.  Knowing He doesn't wish to see any perish, but desires ALL people to come to know Him.
			This motivates our hearts to be intentional, just as Jesus was, in All our interactions with
			All people.</span>
		</div>
	</div>
	<div class="row" style="background: url('/media/wide-line.jpg'); background-size:cover" >
	<a href="/outreach-summary/salem-outreach">
	<span class="hero">
	<h3>Outreach in Salem</h3>
	<p>See what BBSM is doing in Salem</p>
	</span>
	</a>
	</div>
	<div class="row">
	<h2 style="margin:30px">In 2018, BBSM was led to:</h2>
	</div>
	<div class="row">
	<div class="col-sm-4 icon-bullet"><p><img src="/media/layout/plate-knife-and-fork.png"></p><p>Serve 20,000 meals<p></div>
	<div class="col-sm-4 icon-bullet"><p><img src="/media/layout/coat-icon.png"></p><p>Hand out 1,000 pounds of clothing</p></div>
	<div class="col-sm-4 icon-bullet"><p><img src="/media/layout/christian-cross.png"></p><p>Lead 1,500 people to salvation</p></div>
	</div>
	<div class="row" style="background: url('/media/philippines/raised.jpg'); background-size:cover" >
	<a href="/outreach/philippines">
	<span class="hero">
	<h3>BBSM Travels the Globe</h3>
	<p>We are spreading the good news in the Philippines</p>
	</a>
	</div>
	<div class="row">
	<span class="support">
	<h3>Support</h3>
	<p>If you would like to send us correspondance.</p>
	<p>Address to BBSM</p>
	<p>PO Box 13864</p>
	<p>Salem OR, 97309</p>
	</span>
	</div>
	<div class="row">
		<div class="col-sm-6 support">
		<p><a href="/giving">Click here to enroll in monthly giving</a></p>
		</div>
		<div class="col-sm-6 support">
		<p><a href="https://crm.beboldstreetministries.org/give">Make a one time contribution</a></p>
		</div>
	</div>
{% endblock %}
