<footer id="myFooter">
        <div class="container-fluid">
            <div class="row">
		    <div class="col-md-1"></div>
		    <div class="col-sm-4 col-md-2">
        	        <h2 class="logo"><a href="/"> BBSM </a></h2>
	            </div>
         	    <div class="col-sm-4 col-md-2">
                    <h5>Outreach</h5>
                    <ul>
                        <li><a href="/outreach-summary/salem-outreach">Salem</a></li>
                        <li><a href="/outreach/kalamath-falls">Oregon</a></li>
                        <li><a href="/outreach-summary/international-ministries">International</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-2">
                    <h5>About us</h5>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/bio">Who we are</a></li>
                        <li><a href="/contact">Make Contact</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-2">
                    <h5>Support</h5>
                    <ul>
                        <li><a href="/giving">Monthly Giving</a></li>
                        <li><a href="https://crm.beboldstreetministries.org/give">One Time Contribution</a></li>
			<li><a href="/attribution">Attribution</a></li>
                    </ul>
                </div>
              
                <div class="col-sm-4 col-md-2 social-icons">
                    <a href="https://www.facebook.com/BeBoldStreetMinistry/" class="facebook"><i class="fab fa-facebook-square fa-5x" style="color: #4267b2;"></i></a>
                </div>
            </div>
        </div>
    </footer>
