<footer id="myFooter">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h5>Outreach</h5>
                    <ul>
                        <li><a href="#">Salem</a></li>
                        <li><a href="#">Oregon</a></li>
                        <li><a href="#">International</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>About us</h5>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Who we are</a></li>
                        <li><a href="#">Make Contact</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Support</h5>
                    <ul>
                        <li><a href="#">Monthly Giving</a></li>
                        <li><a href="#">One Time Contribution</a></li>
                    </ul>
                </div>
              
            </div>
        </div>
        <div class="second-bar">
           <div class="container">
                <h2 class="logo"><a href="#"> BBSM </a></h2>
                <div class="social-icons">
                    <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                </div>
            </div>
        </div>
    </footer>