{% set navEntry = craft.entries.section("navigation").slug("top-navigation").one() %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">BBSM</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor03">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
      </li>
      {% for item in navEntry["menuItem"].all() %}
        {% if item["menuItem"] is null %}
	<li class="nav-item">
		{% if item["linkUrl"] is null %}
		<a class="nav-link" href="{{ item.Url() }}">{{ item["title"] }}</a>
		{% else %}
		<a class="nav-link" href="{{ item["linkUrl"] }}">{{ item["title"] }}</a>
		{% endif %}
	</li>
	{% else %}
	<li class="nav-item dropdown">
	  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		  {{ item["title"] }}
	  </a>
	   <div class="dropdown-menu" aria-labelledby="navbarDropdown">
		   {% for subItem in item["menuItem"].all() %}
		   	{% if subItem["linkUrl"] is null %}
			   <a class="dropdown-item" href="{{ subItem.Url() }}">{{ subItem["title"] }}</a>
			{% else %}
			   <a class="dropdown-item" href="{{ subItem["linkUrl"] }}">{{ subItem["title"] }}</a>
			{% endif %}
		   {% endfor %}
	  </div>
        </li>
	{% endif %}
      {% endfor %}
    </ul>
    <form class="form-inline my-2 my-lg-0" action="/search" method="get">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" name="q">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
